@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://custom-avatar-hints.github.io/hints/app/database.css");
@import url("https://custom-avatar-hints.github.io/hints/app/language-hell.css");
@import url("https://nyri4.github.io/donators/donators.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
:root .messagesWrapper-RpOMA3 {
  flex-direction: column;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg {
  padding-left: 50px;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg.groupStart-3Mlgv1 .contents-2MsGLg::after {
  left: 48px;
  width: 30px;
  height: 30px;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP {
  position: relative;
  left: -2px;
  width: 30px;
  height: 30px;
  border-radius: var(--avatar-radius);
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .header-2jRmjb {
  left: 38px;
  margin-top: -30px;
  margin-bottom: 6px;
  width: 100%;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .timestamp-p1Df1m.alt-1dvXnH {
  position: absolute;
  font-size: 0.6875rem !important;
  right: 10px;
  left: unset;
  opacity: 0;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg:hover .timestamp-p1Df1m {
  opacity: 1;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .iconContainer-2rPbqG {
  position: unset;
  width: unset;
  margin-right: 10px;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .repliedMessage-3Z6XBG {
  margin-left: 48px;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .repliedMessage-3Z6XBG .replyAvatar-sHd2sU {
  border-radius: calc(var(--avatar-radius) - 3px);
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .blockquoteContainer-3VtvI1 .blockquoteDivider-363utW {
  display: none;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .blockquoteContainer-3VtvI1 blockquote {
  padding: 12px;
  background: var(--background-secondary);
  border-radius: 4px;
  width: 100%;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg.hasThread-3h-KJV::after {
  margin-left: 24px;
}
:root .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg.hasThread-3h-KJV .container-2sjPya {
  margin-left: 48px;
  border-radius: 8px;
}
:root .messagesWrapper-RpOMA3 .scroller-kQBbkU::-webkit-scrollbar {
  display: none;
}
:root .wrapper-2vIMkT {
  border: none;
  box-shadow: none;
  background: var(--background-secondary);
}
:root .wrapper-2vIMkT:hover {
  box-shadow: none;
}
:root .botTagRegular-kpctgU {
  border-radius: 5px;
  background: var(--main-color);
}
:root .wrapper-1ZcZW- {
  background: transparent !important;
  position: relative;
  color: var(--main-color) !important;
}
:root .wrapper-1ZcZW-.mention {
  border-radius: 5px;
}
:root .wrapper-1ZcZW-:hover::after {
  opacity: 0.2;
}
:root .wrapper-1ZcZW-::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.08;
  border-radius: 5px;
  transition: opacity 200ms;
  pointer-events: none;
}
:root .newMessagesBar-1hF-9G {
  position: static;
  margin: 5px 40px 0 40px;
  padding: 5px;
  background: var(--background-secondary);
  border-radius: 7px;
  opacity: 1;
}
:root .newMessagesBar-1hF-9G .barButtonMain-2GIx4o {
  opacity: 0.6;
}
:root .newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ {
  display: none;
}
:root .divider-2rZFJK {
  margin: 0 56px;
  border: none;
  height: unset;
  background: transparent;
}
:root .divider-2rZFJK.isUnread-3Lojb-:not(.hasContent-31hcsn) {
  margin: 10px 47px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
:root .divider-2rZFJK .content-3spvdd, :root .divider-2rZFJK#---new-messages-bar .unreadPill-3nEWYM {
  background: var(--background-secondary);
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  height: unset;
}
:root .divider-2rZFJK .unreadPill-3nEWYM {
  position: relative;
  color: #f04747;
  top: 0;
}
:root .divider-2rZFJK .unreadPill-3nEWYM .unreadPillCap-2-iI4h {
  display: none;
}
:root .divider-2rZFJK#---new-messages-bar .content-3spvdd {
  border-radius: 5px 0 0 5px;
}
:root .divider-2rZFJK#---new-messages-bar .content-3spvdd + .unreadPill-3nEWYM {
  border-radius: 0 5px 5px 0;
  padding-top: 12px;
  padding-bottom: 12px;
}
:root .jumpToPresentBar-1cEnH0 {
  bottom: 15px;
  left: unset;
  height: 40px;
  padding-bottom: 0;
  background: var(--background-secondary);
  border-radius: 8px;
}
:root .jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ {
  text-indent: -10000px;
  font-size: 0;
  padding: 0 6px;
}
:root .jumpToPresentBar-1cEnH0 .barButtonAlt-TQoCdZ .barButtonIcon-bMvzp2 {
  margin-left: 0;
  width: 28px;
  height: 28px;
}
:root .jumpToPresentBar-1cEnH0 .barButtonMain-2GIx4o {
  display: none;
}
:root .jumpToPresentBar-1cEnH0 .spinner-2RT7ZC {
  padding: 0 5px;
}
:root .contentWrapper-3vHNP2, :root .wrapper-1NNaWG, :root .emojiPicker-6YCk8a {
  box-shadow: unset;
}
:root .resizeHandle-T_gFJR::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 36px);
  background: rgba(0, 0, 0, 0.3333333333);
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
:root .resizeHandle-T_gFJR:active::before {
  opacity: 1;
  pointer-events: all;
}
:root .navButtonActive-1EqC5l {
  background: var(--background-primary);
}
:root #emoji-picker-tab-panel {
  border-radius: 8px 8px 0 0;
}
:root #emoji-picker-tab-panel .premiumPromo-1eKAIB {
  background: var(--background-secondary);
  opacity: 1;
  animation: fade 0.3s ease, zoom 0.3s ease;
}
:root #emoji-picker-tab-panel.wrapper-3u51GQ {
  margin-bottom: 8px;
}
:root #emoji-picker-tab-panel .container-1SX9VC, :root #emoji-picker-tab-panel .emojiItem-277VFM.emojiItemSelected-2Lg50V {
  background: var(--background-primary);
}
:root #emoji-picker-tab-panel .imageLoading-2uloYN {
  background-image: none !important;
  background-color: var(--background-primary);
  border-radius: 8px;
}
:root #emoji-picker-tab-panel .inspector-DFKXwB {
  position: absolute;
  top: -50px;
  right: 0;
  padding: 0 8px;
  justify-content: end;
  width: unset;
  max-width: 220px;
  background: transparent;
}
:root #emoji-picker-tab-panel .diversitySelectorOptions-3DhNYs {
  background: var(--background-primary);
  border: none;
}
:root #emoji-picker-tab-panel:not(.emojiPickerInExpressionPicker-2nOwH8) .inspector-DFKXwB {
  position: absolute;
  top: unset;
  bottom: 0;
  right: 0;
  left: 48px;
  padding: 0 16px;
  max-width: unset;
  background: linear-gradient(transparent, var(--background-secondary));
}
:root #emoji-picker-tab-panel .wrapper-22rqw6 {
  background: var(--background-secondary);
}
:root #emoji-picker-tab-panel .wrapper-22rqw6 .scroller-2MALzE::-webkit-scrollbar {
  display: none;
}
:root .positionContainer-dMArNx {
  height: 414px;
  bottom: calc(100% - 8px);
  transform: translateZ(0);
}
:root .contentWrapper-3vHNP2 .header-JHwfVI {
  box-shadow: none;
}
:root .contentWrapper-3vHNP2 .header-JHwfVI .inner-2pOSmK {
  height: 34px;
  background: var(--background-primary);
}
:root .contentWrapper-3vHNP2 .header-JHwfVI .inner-2pOSmK .iconLayout-3Bjizv {
  width: 30px;
  height: 30px;
}
:root .uploadModal-2ie9O_ {
  background: var(--background-primary);
  box-shadow: unset;
  width: 1000px;
  height: 400px;
  border-radius: 15px;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .comment-1kpwc5, :root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .description-2AJi-V {
  margin-left: 55%;
  margin-right: 30px;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .comment-1kpwc5 .label-21vOgf {
  text-transform: unset;
  font-size: 12px;
  opacity: 0.8;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR {
  height: 75px;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .description-2AJi-V {
  margin-top: 15px;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .description-2AJi-V .filename-1r50Xu {
  font-weight: 550;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ- {
  background-color: var(--background-secondary);
  background-size: 70px;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ-.video-L7uQxc {
  background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623014334791720/videocam-white-18dp.svg);
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ-.acrobat-2-m_um {
  background-image: url(https://cdn.discordapp.com/attachments/539180316447997974/705623972791975936/picture_as_pdf-white-18dp.svg);
}
:root .uploadModal-2ie9O_ .footer-VCsJQY {
  background-color: transparent;
  box-shadow: unset;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
:root .uploadModal-2ie9O_ .footer-VCsJQY .checkboxWrapper-2fDzaA .checkbox-f1HnKB {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
:root .uploadModal-2ie9O_ .footer-VCsJQY .checkboxWrapper-2fDzaA .checkbox-f1HnKB.checked-1pZh2h::before {
  color: var(--textcolor);
  content: "visibility_off";
}
:root .uploadModal-2ie9O_ .footer-VCsJQY .checkboxWrapper-2fDzaA .checkbox-f1HnKB:hover, :root .uploadModal-2ie9O_ .footer-VCsJQY .checkboxWrapper-2fDzaA .checkbox-f1HnKB .checked-1pZh2h {
  opacity: 1;
}
:root .uploadModal-2ie9O_ .footer-VCsJQY .checkboxWrapper-2fDzaA .checkbox-f1HnKB::before {
  content: "visibility";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5333333333);
  text-align: center;
  line-height: 350px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 72px;
  font-family: "Material Icons", sans-serif;
  visibility: visible;
  border-radius: 19px;
}
:root .uploadModal-2ie9O_ .footer-VCsJQY .labelForward-2yqkcf {
  display: none;
}
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ-.image-2ssF8k,
:root .uploadModal-2ie9O_ .footer-VCsJQY .checkboxWrapper-2fDzaA,
:root .uploadModal-2ie9O_ .inner-rBP-MS .file-163EuR .icon-HW4tZ- {
  position: fixed;
  top: 20px;
  left: 10px;
  width: 48% !important;
  height: 350px !important;
  margin-top: 0 !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
  box-shadow: unset;
  border-radius: 20px;
}
:root .uploadModal-2ie9O_ .scrollableContainer-15eg7h.webkit-QgSAqd {
  max-height: 215px;
}
:root .autocomplete-3NRXG8 {
  background: var(--background-secondary);
  bottom: calc(100% - 8px);
  border-radius: 8px 8px 0 0;
  box-shadow: none;
}
:root .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly {
  background-color: var(--background-tertiary);
  border-radius: 3px;
}
:root .autocomplete-3NRXG8 .categoryHeader-OpJ1Ly::after {
  content: none;
}
:root .autocomplete-3NRXG8 .selected-3H3-RC {
  background: var(--background-primary);
}
:root .autocomplete-3NRXG8 .contentTitle-3CylD3 {
  color: var(--textcolor);
}
:root .wrapperAudio-1Bzv_Z {
  background: var(--background-secondary);
  border: none;
  border-radius: 7px;
  padding: 0;
}
:root .wrapperAudio-1Bzv_Z .audioMetadata-1Hrt8T {
  padding: 10px;
}
:root .wrapperAudio-1Bzv_Z .audioControls-3fmemK {
  background: transparent;
}
:root .wrapperAudio-1Bzv_Z .audioControls-3fmemK .mediaBarWrapper-33h1oY:hover {
  box-shadow: none;
}
:root .wrapperAudio-1Bzv_Z .audioControls-3fmemK .mediaBarWrapper-33h1oY .mediaBarProgress-38I317, :root .wrapperAudio-1Bzv_Z .audioControls-3fmemK .mediaBarWrapper-33h1oY .mediaBarProgress-38I317:after, :root .wrapperAudio-1Bzv_Z .audioControls-3fmemK .mediaBarWrapper-33h1oY .mediaBarProgress-38I317:before, :root .wrapperAudio-1Bzv_Z .audioControls-3fmemK .mediaBarWrapper-33h1oY .mediaBarGrabber-FvJKJg {
  background: var(--main-color) !important;
}
:root .embedFull-1HGV2S {
  width: calc(100% + 100px);
  max-width: unset !important;
  left: -50px;
  border-radius: 0;
  border-color: var(--background-secondary-alt-alt);
  position: relative;
  overflow: hidden;
}
:root .embedFull-1HGV2S .grid-1aWVsE {
  margin-left: 34px;
  margin-right: 12px;
}
:root .theme-light .embedFull-1HGV2S {
  background: var(--background-secondary-alt-alt);
  border-color: var(--card);
}
:root .wrapper-1HIH0j {
  background: var(--background-secondary);
  border-radius: 10px;
}
:root .wrapper-1HIH0j .header-3anOjb {
  display: none;
}
:root .wrapper-1HIH0j .count-62gVQ0 {
  font-weight: 500;
  color: var(--textcolor);
}
:root .markup-eYLPri code {
  border: none;
  background: var(--colortransparency);
  border-radius: 10px;
}
:root .hljs .powercord-lines:after, :root .powercord-codeblock-lang {
  border: none;
}
:root .powercord-codeblock-lang {
  padding: 3px 10px;
}
:root .textContainer-36wgKK, :root .footer-GXWBBp {
  border: none;
}
:root .textContainer-36wgKK .scrollbar-3vVt8d::-webkit-scrollbar, :root .footer-GXWBBp .scrollbar-3vVt8d::-webkit-scrollbar {
  display: none;
}
:root .textContainer-36wgKK {
  border-radius: 10px 10px 0 0;
}
:root .footer-GXWBBp {
  border-radius: 0 0 10px 10px;
}
:root .spoilerText-27bIiA.hidden-3B-Rum, :root .spoilerText-27bIiA.hidden-3B-Rum:hover {
  background-color: var(--background-secondary);
}
:root .embedSpotify-1rDvOE {
  border-radius: 5px;
}
:root .invite-3uuHYQ {
  background: var(--background-secondary);
  border: none;
}
:root .tile-2mmK5T {
  transform: translateZ(0);
  overflow: hidden;
  background: var(--background-secondary);
}
:root .tile-2mmK5T:hover {
  background: var(--background-secondary-alt-alt);
}
:root .tile-2mmK5T .invalidPoop--w1123 {
  background: var(--background-secondary-alt-alt);
  position: relative;
}
:root .tile-2mmK5T .invalidPoop--w1123::after {
  content: ">_<";
  animation: blink 2.5s;
  animation-iteration-count: infinite;
  font-size: 50px;
  color: var(--textcolor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:root .tile-2mmK5T .description-X8_53U {
  color: #fff;
}
:root .tile-2mmK5T .description-X8_53U .tagline-3DhQWg {
  color: #eee;
}
:root .tile-2mmK5T .splash-PDbb7Y {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  opacity: 0.3;
  filter: blur(20px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0.7333333333), rgba(0, 0, 0, 0.7333333333));
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7333333333), rgba(0, 0, 0, 0.7333333333));
}
:root .popoutTopLeft-3B0mFf.noArrow-2foL9g.noShadow-3pu20z {
  margin-bottom: 0;
  margin-top: 8px;
}
:root .attachment-1PZZB2 {
  background: var(--background-secondary);
  border: none;
  border-radius: 7px;
}
:root .attachment-1PZZB2 .progressBar-1T6LYX {
  border-radius: 0;
  background: #419e85 !important;
}
:root .scrollableContainer-15eg7h, :root .wrapper-2SplAX {
  background: var(--background-secondary);
}
:root .scrollableContainer-15eg7h .lookFilled-yCfaCM.colorPrimary-2AuQVo, :root .wrapper-2SplAX .lookFilled-yCfaCM.colorPrimary-2AuQVo {
  background-color: var(--main-color);
}
:root .attachButtonPlus-3IYelE, :root .attachButton-_ACFSu:hover .attachButtonPlus-3IYelE {
  fill: var(--main-color);
}
:root .channelTextAreaDisabled-1p2fQv {
  height: 0;
  opacity: 0;
  pointer-events: none;
}
:root .form-3gdLxP:before {
  background: linear-gradient(180deg, transparent 0, var(--background-primary));
}
:root .typing-2J1mQU {
  z-index: 0;
}
:root .message-G6O-Wv {
  background: var(--background-secondary);
  box-shadow: none;
}
:root .reaction-2A2y9y {
  background: var(--colortransparency);
}
:root .container-KM8BU6, :root .reactors-1VXca7 {
  background: var(--background-secondary);
}
:root .container-KM8BU6 .scroller-2GkvCq, :root .reactors-1VXca7 .scroller-2GkvCq {
  background: var(--background-primary);
}

:root .guilds-2JjMmN {
  width: 90px;
  margin-top: -35px;
}
:root .guilds-2JjMmN.hidden-10MsGQ {
  width: 0 !important;
}
:root .guilds-2JjMmN::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 90px;
  height: 100px;
  background: linear-gradient(360deg, var(--background-tertiary), transparent);
  pointer-events: none;
}
:root .guilds-2JjMmN .scroller-3X7KbA {
  padding: 30px 0;
}
:root .guilds-2JjMmN .scroller-3X7KbA > .tutorialContainer-2sGCg9:first-child > .listItem-3SmSlK .childWrapper-1j_1ub {
  background: var(--main-color);
  color: #fff;
}
:root .guilds-2JjMmN .scroller-3X7KbA > .listItem-3SmSlK:nth-last-child(2) {
  margin-bottom: 80px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK {
  width: 90px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .wrapper-28eC3z, :root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .svg-2zuE5p {
  width: 42px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .wrapper-3kah-n {
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 200ms;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .wrapper-3kah-n:hover {
  border-radius: calc(50% - 4px);
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .upperBadge-1V6Iyi {
  top: 2px;
  right: -1px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .lowerBadge-3WTshO {
  bottom: 4px;
  right: -5px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .lowerBadge-3WTshO .numberBadge-37OJ3S {
  min-width: 25px;
  background: var(--main-color) !important;
  font-size: 8px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .lowerBadge-3WTshO:last-child .numberBadge-37OJ3S {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5333333333);
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, :root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background: var(--main-color);
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK .wrapper-3kah-n .childWrapper-1j_1ub {
  background: var(--background-secondary);
}
:root .guilds-2JjMmN .scroller-3X7KbA .listItem-3SmSlK defs g:last-child {
  display: none;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD {
  width: 90px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD .expandedFolderBackground-1kSAf6 {
  left: 21px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD .folderIconWrapper-1oRIZr {
  transition: border-radius 200ms;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD .folderIconWrapper-1oRIZr:hover {
  border-radius: 12px;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD .wrapper-28eC3z > svg > foreignObject {
  mask: none;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD .wrapper-28eC3z > svg > foreignObject .folder-241Joy {
  background: transparent;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-38slSD.expanded .expandedFolderBackground-1kSAf6 {
  background: var(--background-secondary);
}
:root .guilds-2JjMmN .scroller-3X7KbA .circleIconButton-1VxDrg {
  border-radius: 14px;
  border: dashed 2px var(--epicshadow1);
  background: transparent;
  color: var(--epicshadow1);
  transition: all 0.2s;
}
:root .guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-2jwoiB:hover .circleIconButton-1VxDrg, :root .guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-2jwoiB + .listItem-3SmSlK:hover .circleIconButton-1VxDrg {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
:root .guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-2jwoiB .wrapperSimple-Js2rIO, :root .guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-2jwoiB + .listItem-3SmSlK .wrapperSimple-Js2rIO {
  overflow: visible;
}
:root .guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-2jwoiB svg > foreignObject, :root .guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-2jwoiB + .listItem-3SmSlK svg > foreignObject {
  mask: none;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapperSimple-Js2rIO foreignObject {
  mask: none;
}
:root .guilds-2JjMmN .scroller-3X7KbA > div:last-child {
  margin-bottom: 80px;
}
:root .guilds-2JjMmN .scroller-3X7KbA::-webkit-scrollbar {
  display: none;
}
:root .guilds-2JjMmN .mention-3XBnnZ {
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--background-tertiary));
  transition: color 0.2s;
  opacity: 1;
  text-transform: capitalize;
  color: var(--textcolor);
  animation: fade 0.5s;
  border-radius: 0;
}
:root .guilds-2JjMmN .mention-3XBnnZ:hover {
  color: var(--main-color);
}
:root .guilds-2JjMmN .unreadMentionsIndicatorBottom-BXS58x .mention-3XBnnZ {
  background: transparent;
}
:root .guilds-2JjMmN .unreadMentionsIndicatorTop-2bTgUU, :root .guilds-2JjMmN .unreadMentionsIndicatorBottom-3RJMnQ {
  width: 100%;
  height: 30px;
  padding: 0;
}

:root .header-3OsQeK {
  box-shadow: none;
  padding: 25px;
}
:root > div:nth-last-child(5) {
  margin-top: 120px;
}
:root .channelNotice-tO6Tus, :root .channelNotice-3DDmsB {
  box-shadow: none;
  width: 170px;
  background: transparent;
  margin: 15px;
  padding: 20px;
  background: var(--background-primary);
  border-radius: 10px;
  position: absolute;
  top: 0;
  z-index: 10;
  height: 60px;
  transition: height 400ms;
}
:root .channelNotice-tO6Tus::before, :root .channelNotice-3DDmsB::before {
  content: "announcement";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  color: var(--textcolor);
  z-index: 1;
  font-size: 24px;
  font-family: "Material Icons", sans-serif;
  transition: opacity 200ms;
}
:root .channelNotice-tO6Tus .message-3KLVy1, :root .channelNotice-3DDmsB .message-3KLVy1 {
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  margin-bottom: auto;
}
:root .channelNotice-tO6Tus .message-3KLVy1 .btn-38SvSS, :root .channelNotice-tO6Tus .message-3KLVy1 .btn-38SvSS:hover, :root .channelNotice-3DDmsB .message-3KLVy1 .btn-38SvSS, :root .channelNotice-3DDmsB .message-3KLVy1 .btn-38SvSS:hover {
  background: var(--background-secondary-alt-alt);
  margin: 0 auto;
  margin-top: 20px;
  z-index: 1;
  width: unset;
}
:root .channelNotice-tO6Tus .message-3KLVy1 > div, :root .channelNotice-3DDmsB .message-3KLVy1 > div {
  margin-bottom: auto;
}
:root .channelNotice-tO6Tus .message-39hdqk, :root .channelNotice-3DDmsB .message-39hdqk {
  opacity: 0;
  margin-top: 30px;
  pointer-events: none;
  width: calc(100% + 20px);
  transition: opacity 400ms;
}
:root .channelNotice-tO6Tus .button-f2h6uQ, :root .channelNotice-3DDmsB .button-f2h6uQ {
  background: var(--background-secondary-alt-alt);
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms;
}
:root .channelNotice-tO6Tus:hover, :root .channelNotice-3DDmsB:hover {
  height: 160px;
}
:root .channelNotice-tO6Tus:hover .message-3KLVy1, :root .channelNotice-tO6Tus:hover .message-39hdqk, :root .channelNotice-3DDmsB:hover .message-3KLVy1, :root .channelNotice-3DDmsB:hover .message-39hdqk {
  pointer-events: all;
  opacity: 1;
}
:root .channelNotice-tO6Tus:hover::before, :root .channelNotice-3DDmsB:hover::before {
  opacity: 0;
}
:root .channelNotice-tO6Tus:hover .button-f2h6uQ, :root .channelNotice-3DDmsB:hover .button-f2h6uQ {
  opacity: 1;
  pointer-events: all;
}
:root .clickable-vvKY2q .header-3OsQeK:hover, :root .selected-1GtAC5 .header-3OsQeK {
  background: transparent;
}
:root .wrapper-1S43wv {
  padding: 0 22px;
}
:root .container-36u7Lw {
  color: var(--textcolor);
  text-transform: unset;
  font-size: 14px;
}
:root .icon-3zI3d2 {
  display: none;
}
:root .wrapper-NhbLHG {
  height: 30px;
}
:root .wrapper-NhbLHG .content-1gYQeQ {
  height: 30px;
  padding: 0 20px;
  margin: 0;
  border-radius: 0;
}
:root .typeThread-2Aqh6X .name-28HaxV {
  padding-left: 28px;
}
:root .spine-29OFwR {
  left: 26px;
}
:root .unread-2wipsx {
  border-radius: 4px;
  background: var(--main-color);
}
:root .unread-2wipsx .text-2GsXbW {
  text-indent: -1000px;
}
:root .unread-2wipsx .text-2GsXbW::after {
  text-indent: 0;
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  top: 0;
  left: 50%;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
  font-family: "Material Icons";
  content: "\f189";
  font-size: 16px;
}
:root .scroller-1ox3I2::-webkit-scrollbar, :root .scroller-3X7KbA::-webkit-scrollbar, :root #channels::-webkit-scrollbar {
  display: none;
}
:root .sidebarScrollable-2mW9Ls + .content-2ssVKB {
  max-width: unset;
}

:root .inner-2pOSmK {
  background: var(--background-secondary);
}
:root [href="https://support.discord.com"], :root .searchLearnMore-7__o_n .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  display: none;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) {
  z-index: 1;
  background: transparent;
  width: calc(100% - 240px);
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .toolbar-3_r2xA, :root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .topic-11NuQZ {
  -webkit-app-region: no-drag;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .icon-2xnN2Y {
  -webkit-app-region: unset;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .followButton-1N-GGp, :root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .children-3xh0VB:after {
  display: none;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .search-39IXmY {
  position: fixed;
  right: 10px;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .search-39IXmY .searchBar-jGtisZ {
  background: var(--background-primary);
  width: 200px;
  height: 28px;
  padding: 2px 10px;
  border-radius: 4px;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .search-39IXmY .searchBar-jGtisZ .searchFilter-2UfsDk, :root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .search-39IXmY .searchBar-jGtisZ .searchAnswer-23w-CH {
  background: transparent;
}
:root .container-ZMc96U.title-31SJ6t:not(.minimum-fXpVNc) .search-39IXmY .searchBar-jGtisZ .icon-18rqoe {
  color: var(--main-color);
}
:root .container-2McqkF {
  background: var(--background-secondary-alt-alt);
  box-shadow: none;
}
:root .container-2McqkF .queryContainer-ZunrLZ {
  border: none;
}
:root .container-2McqkF .queryContainer-ZunrLZ.focused-2FU0YH {
  background: var(--background-secondary-alt-alt);
}
:root .container-2McqkF .queryContainer-ZunrLZ .keybindShortcut-3zF1P9 {
  display: none;
}
:root .container-2McqkF .resultsGroup-cfY57t::before {
  display: none;
}
:root .container-2McqkF .resultsGroup-cfY57t .option-ayUoaq {
  padding: 0 20px;
  margin: 0;
  border-radius: 0;
}
:root .container-2McqkF .resultsGroup-cfY57t .option-ayUoaq.selected-rZcOL-, :root .container-2McqkF .resultsGroup-cfY57t .option-ayUoaq[aria-selected=true] {
  background: var(--background-secondary);
}
:root .container-2McqkF .resultsGroup-cfY57t .option-ayUoaq:after {
  display: none;
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker {
  background: transparent;
  border-radius: 0;
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker .react-datepicker__header {
  background: transparent;
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker .react-datepicker__header .react-datepicker__current-month {
  border-bottom: none;
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker__navigation--next, :root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker__navigation--previous {
  border: none;
  border-radius: 50%;
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker__navigation--next:hover, :root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker__navigation--previous:hover {
  background-color: var(--epicshadow1);
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker [class^=react-datepicker__day] {
  background: transparent;
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day {
  border-color: var(--background-tertiary);
}
:root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day--selected:after, :root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day--selected:hover, :root .container-2McqkF .calendarPicker-sDhzdi .react-datepicker .react-datepicker__day:hover {
  background: var(--main-color);
}
:root .container-2McqkF .datePickerHint-17MnA8 .hintValue-1x-flY {
  background: var(--main-color);
}
:root .searchResultsWrap-5RVOkx {
  background: var(--background-secondary);
  top: -48px;
  padding-top: 48px;
  width: 480px;
  height: 100%;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh {
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, var(--background-secondary), transparent);
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ {
  padding: 0;
  padding-top: 48px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ > div {
  padding: 0 14px 0 20px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .channelName-3w2Y3c {
  background: transparent;
  padding: 8px 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .searchResult-O9NDji {
  border: none;
  box-shadow: none;
  border-radius: 10px;
}
:root .jumpButton-1ZwI_j, :root .button-cfOvv- {
  background: var(--background-primary);
}
:root .recentMentionsPopout-2bI1ZN {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100% !important;
  animation: sidebarStatusTransalteXReverse 0.5s ease, fade 0.4s ease;
  border-radius: 0;
}
:root .recentMentionsPopout-2bI1ZN .header-1w9Q93 {
  background: linear-gradient(360deg, transparent, var(--background-secondary));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
:root .recentMentionsPopout-2bI1ZN .header-1w9Q93 .topPill-3DJJNV {
  margin: 0 auto;
}
:root .recentMentionsPopout-2bI1ZN .header-1w9Q93 .topPill-3DJJNV .tab-TRrPC8.active-1grPyy {
  background: var(--background-primary);
}
:root .recentMentionsPopout-2bI1ZN .header-1w9Q93 .secondary-2bzKEX {
  position: absolute;
  right: 16px;
  background: transparent;
}
:root .recentMentionsPopout-2bI1ZN .messagesPopout-eVzQcI, :root .recentMentionsPopout-2bI1ZN .scroller-145h9c {
  padding-top: 56px;
}
:root .recentMentionsPopout-2bI1ZN .messagesPopout-eVzQcI .channelHeader-DFRX8q, :root .recentMentionsPopout-2bI1ZN .scroller-145h9c .channelHeader-DFRX8q {
  position: relative;
  background: transparent;
}
:root .recentMentionsPopout-2bI1ZN .messagesPopout-eVzQcI .channelHeader-DFRX8q .tertiary-1e-lAP, :root .recentMentionsPopout-2bI1ZN .scroller-145h9c .channelHeader-DFRX8q .tertiary-1e-lAP {
  background: var(--background-primary);
}
:root .recentMentionsPopout-2bI1ZN .tutorial-Nb3Zz5 {
  background: var(--background-primary);
  margin-top: 66px;
}
:root .recentMentionsPopout-2bI1ZN .tutorialIcon-25VF3Q {
  background: var(--background-secondary);
  color: #fff;
}
:root .recentMentionsPopout-2bI1ZN {
  background: var(--background-secondary);
  box-shadow: var(--elevation-high);
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) {
  position: fixed;
  top: 48px;
  left: 330px;
  width: calc(100% - 570px);
  max-height: calc(100% - 48px) !important;
  height: 100%;
  box-shadow: unset;
  background: var(--background-primary);
  border-radius: 0;
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .header-1w9Q93 {
  background: var(--background-primary);
  text-align: center;
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .messagesPopout-eVzQcI {
  padding: 0 32px;
  padding-top: 5px;
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .messagesPopout-eVzQcI .messageGroupWrapper-1jf_7C {
  border: none;
  background: var(--background-secondary);
  margin-bottom: 32px;
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .messagesPopout-eVzQcI::-webkit-scrollbar {
  width: 8px;
  margin-left: 5px;
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .messagesPopout-eVzQcI::-webkit-scrollbar-thumb {
  border: none;
  background: var(--background-secondary) !important;
  border-radius: 6px 0 0 6px;
}
:root .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .messagesPopout-eVzQcI::-webkit-scrollbar-track-piece {
  display: none;
}
:root .container-2ebMPP .scroller-145h9c {
  padding-top: 56px;
}

:root .membersWrap-3NUR2t {
  margin-top: -48px;
  max-height: calc(100% + 48px);
}
:root .membersWrap-3NUR2t .members-3WRCEx {
  padding-top: 48px;
}
:root .membersWrap-3NUR2t .members-3WRCEx .member-2gU6Ar {
  margin: 0;
}
:root .membersWrap-3NUR2t .members-3WRCEx .member-2gU6Ar .layout-1qmrhw {
  padding: 0 22px;
  width: calc(100% - 22px);
  border-radius: 0;
}
:root .membersWrap-3NUR2t .members-3WRCEx::-webkit-scrollbar {
  display: none;
}
:root .loadingPopout-1feYe_ {
  background: var(--background-secondary);
}
:root .userPopout-2j1gM4 {
  background: var(--background-secondary);
  box-shadow: unset !important;
  margin-right: 20px;
  border-radius: 8px;
}
:root .userPopout-2j1gM4 .banner-1YaD3N {
  position: absolute;
  width: 300px;
  height: 180px;
  border-radius: 8px 8px 0 0;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
}
:root .userPopout-2j1gM4 .banner-1YaD3N.bannerPremium-kkSkPv {
  background-color: transparent !important;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .headerTagWithNickname-1U8zZH, :root .userPopout-2j1gM4 .headerTop-3GPUSF .setIdentityLink-hOFsMl {
  display: none;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .headerTagDiscriminatorNoNickname-dfcvHa {
  color: #dadada;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR {
  position: static;
  justify-content: center;
  max-width: unset;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR > * {
  margin: 0 3px;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR:empty {
  margin-bottom: 20px;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq {
  margin-bottom: 8px;
}
:root .userPopout-2j1gM4 .customStatus-3XAoF9, :root .userPopout-2j1gM4 .aboutMeSection-PUghFQ {
  padding-top: 12px;
}
:root .userPopout-2j1gM4 .divider-1wtgZ3 {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .activity-1gTu-L .button-f2h6uQ {
  background-color: var(--main-color);
}
:root .userPopout-2j1gM4 .body-2wLx-E .activity-1gTu-L .spotifyIcon-2J9kSv {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k {
  padding-right: 16px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .note-Go5ZP2 {
  margin: 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E::-webkit-scrollbar {
  display: none;
}
:root .userPopout-2j1gM4 .avatarWrapper-eenWra {
  top: 0;
  left: 50%;
  grid-area: avatar;
  margin: 15px 0 0 -50px;
}
:root .userPopout-2j1gM4 .avatarWrapper-eenWra .avatar-2Vndt_ {
  background: none;
  border: none;
}
:root .userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop {
  top: 0;
  left: 0;
  border-radius: calc(var(--avatar-radius) * 2) !important;
}
:root .userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject {
  mask: none !important;
}
:root .userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject .avatarHintInner-2HUAWj {
  font-size: 0;
  text-transform: none;
}
:root .userPopout-2j1gM4 .avatarWrapper-eenWra .avatarHint-k7pYop foreignObject .avatarHintInner-2HUAWj::after {
  white-space: normal;
  text-align: center;
  content: var(--avatar-hint-text);
  color: var(--avatar-hint-color);
  font-size: var(--avatar-hint-size);
  font-family: var(--avatar-hint-font);
}
:root .userPopout-2j1gM4 .mask-1FEkla foreignObject {
  border-radius: calc(var(--avatar-radius) * 2) !important;
}
:root .root-8LYsGj {
  width: 800px;
  flex-direction: row;
  overflow: unset;
  position: relative;
}
:root .root-8LYsGj .topSection-13QKHs {
  position: relative;
  background: var(--background-secondary);
  width: 40%;
  z-index: 1;
  border-radius: 10px 0 0 10px;
}
:root .root-8LYsGj .topSection-13QKHs .banner-1YaD3N {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  border-radius: 10px 0 0 10px;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1333333333));
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1333333333));
}
:root .root-8LYsGj .topSection-13QKHs .header-S26rhB {
  position: static;
}
:root .root-8LYsGj .topSection-13QKHs .header-S26rhB .avatar-3QF_VA {
  position: relative;
  top: 16px;
  border: none;
  background: none;
  width: 80px !important;
  height: 80px !important;
}
:root .root-8LYsGj .topSection-13QKHs .header-S26rhB .headerTop-1PNKck {
  position: static;
}
:root .root-8LYsGj .topSection-13QKHs .header-S26rhB .headerTop-1PNKck .badgeList-2aoHPw {
  position: absolute;
  top: 75px;
  left: 120px;
}
:root .root-8LYsGj .topSection-13QKHs .nameTag-2Nlmsy {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  top: 0;
  left: 100px;
  max-width: 200px;
  margin-top: 16px;
}
:root .root-8LYsGj .topSection-13QKHs .relationshipButtons-3ByBpj {
  position: absolute;
  bottom: 20px;
  left: 18px;
  z-index: 1;
}
:root .root-8LYsGj .topSection-13QKHs .mask-1FEkla foreignObject {
  border-radius: calc(var(--avatar-radius) * 2.1) !important;
}
:root .root-8LYsGj .topSection-13QKHs .profileBadges-9OJ14v {
  flex-wrap: wrap;
  flex-flow: row wrap;
}
:root .root-8LYsGj .topSection-13QKHs .customStatusActivity-WKWGD- {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 460px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(8px);
}
:root .root-8LYsGj .topSection-13QKHs .customStatusActivity-WKWGD-.activityProfile-1712BN {
  right: unset;
  bottom: -140px;
  left: 5px;
  width: 750px;
  padding: 20px;
}
:root .root-8LYsGj .topSection-13QKHs .customStatusActivity-WKWGD- .customStatus-2pgT4N {
  max-width: 130px;
}
:root .root-8LYsGj .topSection-13QKHs .customStatusActivity-WKWGD- .assetsLargeImageActivityFeed-3zBude, :root .root-8LYsGj .topSection-13QKHs .customStatusActivity-WKWGD- .assetsLargeImageActivityFeedXbox-3gGXXV, :root .root-8LYsGj .topSection-13QKHs .customStatusActivity-WKWGD- .assetsLargeImageProfile-1TX9jP {
  width: 40px;
  height: 40px;
}
:root .root-8LYsGj .topSection-13QKHs .activityHeader-2shpl0 {
  display: none;
}
:root .root-8LYsGj .topSection-13QKHs .tabBarContainer-sCZC4w {
  position: relative;
  top: 20px;
  border-bottom: unset;
}
:root .root-8LYsGj .topSection-13QKHs .tabBarContainer-sCZC4w .tabBar-2hXqzU {
  flex-direction: column;
}
:root .root-8LYsGj .topSection-13QKHs .tabBarContainer-sCZC4w .tabBar-2hXqzU .item-3XjbnG {
  height: 40px;
  border-bottom: unset;
}
:root .root-8LYsGj .body-1Ukv50 {
  background: var(--background-primary);
  width: 60%;
  min-height: 350px;
  border-radius: 0 10px 10px 0;
}
:root .root-8LYsGj .body-1Ukv50 .connectedAccounts-1YaT2t .connectedAccount-1xKpli {
  border: none;
  border-radius: 8px;
  background-color: var(--background-secondary);
}
:root .root-8LYsGj .body-1Ukv50 .pc-connections .connectedAccounts-1YaT2t:empty::before {
  background-color: transparent;
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(20, 0fr);
  gap: 10px;
  padding-left: 8px;
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 {
  position: relative;
  z-index: 1;
  height: 44px;
  margin: 0;
  padding-left: 10px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-secondary);
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 .listAvatar-2bU5Uh {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 62% !important;
  height: 250% !important;
  margin-right: 0;
  border-radius: 0;
  -webkit-mask-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.5490196078), rgba(0, 0, 0, 0));
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk .listRow-2nO1T6 .listAvatar-2bU5Uh foreignObject {
  width: 100%;
  height: 100%;
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk .empty-2zcusz {
  grid-column: 1/3;
  grid-row: 1/22;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 0;
  padding-left: 10px;
  border-radius: 8px;
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk .empty-2zcusz .emptyIconFriends-2LNxTX {
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 80%;
  margin-left: -10px;
  opacity: 0.2;
  background-size: 100%;
}
:root .root-8LYsGj .body-1Ukv50 .listScroller-entkMk .activityProfile-1712BN {
  grid-column: 1/3;
}
:root .userPopout-2j1gM4 .banner-1YaD3N,
:root .root-8LYsGj .banner-1YaD3N {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}

:root .layer-86YKbF {
  transform: unset !important;
}
:root .layer-86YKbF.baseLayer-W6S8cY {
  opacity: 1 !important;
}
:root .layer-86YKbF.baseLayer-W6S8cY.stop-animations {
  transform: scale(1) !important;
}
:root .layer-86YKbF:not(.baseLayer-W6S8cY) {
  margin-left: 90px;
}
:root .layer-86YKbF .sidebarRegion-1VBisG {
  flex: unset;
  background: var(--background-tertiary);
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh {
  justify-content: flex-start;
  border-radius: 8px 0 0;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN {
  width: 240px;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .side-2ur1Qk .header-2Kx1US, :root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG {
  padding: 6px 30px;
  border-radius: 0;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .side-2ur1Qk .item-3XjbnG:hover {
  background: var(--background-secondary-alt);
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .socialLinks-2DELRE {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .socialLinks-2DELRE .powercord-pc-icon svg {
  border: none;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .socialLinks-2DELRE .powercord-pc-icon::before {
  top: 0;
  width: 20px;
  height: 16px;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN .info-1sUqUG {
  text-align: center;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .sidebar-nqHbhN, :root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh .flexChild-3PzYmX {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
:root .layer-86YKbF .sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh::-webkit-scrollbar {
  display: none;
}
:root .layer-86YKbF .contentColumn-1C7as6, :root .layer-86YKbF .customColumn-2n-oKU {
  max-width: 95%;
}
:root .layer-86YKbF .closeButton-PCZcma:active {
  transform: none;
}
:root .layer-86YKbF .closeButton-PCZcma::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  z-index: 100;
}
:root .noticeRegion-qjyUVg {
  max-width: unset;
}
:root .noticeRegion-qjyUVg .container-20TyK0 {
  background-color: var(--background-secondary) !important;
}
@media (max-width: 1300px) {
  :root .accountProfileCard-lbN7n- {
    flex-direction: column;
  }
  :root .accountProfileCard-lbN7n- .banner-1YaD3N {
    border-radius: 8px 8px 0 0 !important;
    height: 150px !important;
    flex: unset !important;
  }
  :root .accountProfileCard-lbN7n- .userInfo-regn9W {
    height: 150px !important;
    margin-left: 0 !important;
    justify-content: space-evenly !important;
  }
  :root .accountProfileCard-lbN7n- .userInfo-regn9W .container-1gYwHN {
    justify-content: center;
  }
  :root .accountProfileCard-lbN7n- .background-3d_SjE {
    flex: unset !important;
  }
}
:root .accountProfileCard-lbN7n- {
  display: flex;
  background-color: var(--background-secondary);
}
:root .accountProfileCard-lbN7n- .banner-1YaD3N {
  border-radius: 8px 0 0 8px;
  height: unset;
  flex: 1;
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W {
  position: absolute;
  display: grid;
  grid-template-areas: "avatar username" "avatar button";
  gap: 20px;
  overflow: hidden;
  height: 100%;
  padding: 0;
  justify-content: flex-start;
  margin-left: 40px;
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W .avatar-3mTjvZ {
  grid-area: avatar;
  position: static;
  width: 120px !important;
  height: 120px !important;
  border: none;
  background: none;
  align-self: center;
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W .avatar-3mTjvZ .mask-1FEkla {
  width: 120px;
  height: 120px;
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W > div:nth-child(2) {
  grid-area: username;
  align-self: flex-end;
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W button:last-child {
  grid-area: button;
}
:root .accountProfileCard-lbN7n- .background-3d_SjE {
  margin: 0;
  flex: 1;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn > :first-child {
  flex: 2 auto;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .banner-3D8GgT {
  position: absolute;
  height: 180px;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.7607843137), rgba(0, 0, 0, 0.7607843137));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .avatarUploader-qEFQS2 {
  top: 15px;
  left: 50%;
  margin-left: -40px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .avatarUploader-qEFQS2 .avatarUploaderInner-p38nm2 {
  border: none;
  border-radius: var(--avatar-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .avatarUploader-qEFQS2 .avatarUploaderInner-p38nm2 .imageUploaderIcon-2OHmFu {
  display: none;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 20px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .headerTagWithNickname-1U8zZH, :root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .setIdentityLink-hOFsMl {
  display: none;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .headerTagDiscriminatorNoNickname-dfcvHa {
  color: #dadada;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .profileBadges-2pItdR {
  position: static;
  justify-content: center;
  max-width: unset;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .profileBadges-2pItdR > * {
  margin: 0 3px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .profileBadges-2pItdR:empty {
  margin-bottom: 20px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .headerTop-3GPUSF .headerText-1-WmDq {
  margin-bottom: 8px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .customStatus-3XAoF9, :root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .aboutMeSection-PUghFQ {
  padding-top: 12px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .divider-1wtgZ3 {
  display: none;
}
:root .item-2idW98 {
  background: var(--background-secondary);
  transition: transform 200ms;
}
:root .item-2idW98:hover {
  background: var(--background-secondary);
}
:root .accountList-305sx3 {
  background: var(--background-secondary);
}
:root .accountList-305sx3 .accountBtn-1YkMgV .accountBtnInner-3XK70s {
  background-color: transparent;
}
:root .connectionHeader-2rV1ze {
  background: transparent;
}
:root .connectionHeader-2rV1ze .connectionDelete-XXTMqE {
  border-color: transparent;
  border-radius: 50%;
  padding: 8px 8px 5px 8px;
  transition: background 100ms;
}
:root .connectionHeader-2rV1ze .connectionDelete-XXTMqE:hover {
  background: rgba(255, 255, 255, 0.1333333333);
}
:root .premiumLabel-V52REm {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
:root .premiumLabel-V52REm svg {
  margin-right: 8px;
}
:root .hero-1aNo0v {
  max-width: unset;
}
:root .hero-1aNo0v + .featuresHeader-2bjq5B {
  text-align: center;
}
:root .feature-2IUcBI {
  background: var(--background-secondary);
}
:root .cardWrapper-CyvwQv {
  transform: translateZ(0);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5333333333);
  --header-primary: #fff;
}
:root .cardWrapper-CyvwQv .tierLabel-3MVAnX {
  color: #fff;
  font-weight: 500;
}
:root .cardWrapper-CyvwQv .gemIndicatorContainer-PqApbX {
  background: transparent;
  backdrop-filter: blur(5px);
}
:root .cardWrapper-CyvwQv .gemIndicatorContainer-PqApbX .gemWithoutLabel-1od40y {
  color: #999;
}
:root .cardWrapper-CyvwQv .icon-1zKOXL::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  opacity: 0.5;
  filter: blur(20px);
}
:root .paymentPane-ut5qKZ, :root .codeRedemptionRedirect-3SBiCp {
  background: var(--background-secondary);
  border: none;
}
:root .paymentPane-ut5qKZ .paginator-1eqD2g, :root .paymentPane-ut5qKZ .bottomDivider-ZmTm-j, :root .codeRedemptionRedirect-3SBiCp .paginator-1eqD2g, :root .codeRedemptionRedirect-3SBiCp .bottomDivider-ZmTm-j {
  background: transparent;
}
:root .paymentPane-ut5qKZ .paymentRow-1HKOLu, :root .codeRedemptionRedirect-3SBiCp .paymentRow-1HKOLu {
  border: none;
}
:root .paymentPane-ut5qKZ .paymentRow-1HKOLu .expandedInfo-1W31i3, :root .codeRedemptionRedirect-3SBiCp .paymentRow-1HKOLu .expandedInfo-1W31i3 {
  background: var(--background-primary);
}
:root .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background: var(--background-secondary);
  border: none;
  border-radius: 7px;
}
:root .userSettingsVoice-1_dzjw .media-engine-video {
  border-radius: 10px;
}
:root .addGamePopout-3yePJc {
  background: var(--background-secondary);
  box-shadow: none;
}
:root .addGamePopout-3yePJc .divider-3LgWDL {
  display: none;
}
:root .notificationSettings-1U0JsJ {
  max-width: unset;
}
:root .notificationSettings-1U0JsJ .wrapper-SdcMKg {
  border: none;
  background: var(--background-secondary);
  border-radius: 20px;
}
:root .notificationSettings-1U0JsJ .wrapper-SdcMKg .option-1QI4c9 {
  margin: 10px;
  border-radius: 16px;
  background: var(--epicshadow1);
}
:root .notificationSettings-1U0JsJ .wrapper-SdcMKg .option-1QI4c9:hover {
  background: var(--main-color);
  opacity: 0.4;
}
:root .notificationSettings-1U0JsJ .wrapper-SdcMKg .option-1QI4c9.selected-18Wszc {
  background: var(--main-color);
  box-shadow: unset;
}
:root .membershipDialog-2wAdpQ {
  border-radius: 10px;
  background: var(--background-secondary);
}
:root .membershipDialog-2wAdpQ:after {
  left: 5px;
}
:root .videoWrapper-1_H3B3 {
  background: transparent;
}
:root .videoWrapper-1_H3B3 iframe {
  margin: auto;
  border-radius: 10px;
}
:root .powercord-product {
  margin: 10px 0;
}
:root .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
:root .customScroller-m1-jZn > div, :root .contentWidth-3aWel5 {
  max-width: unset;
}
:root .colorPickerCustom-1swUKF {
  background: var(--background-secondary);
  border: none;
  border-radius: 8px;
}
:root .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background: var(--background-primary);
}
:root .auditLog-1NVAY0 {
  border: none;
  border-radius: 8px;
  overflow: hidden;
}
:root .auditLog-1NVAY0 .header-2pgFQm, :root .auditLog-1NVAY0 .changeDetails-1kMZqI {
  background: var(--background-secondary);
}
:root .auditLog-1NVAY0 .divider-M3saWq {
  display: none;
}
:root .copyInput-3AbKWB {
  border: none;
  border-radius: 8px;
}
:root .modal-1gWd9S .footer-31IekZ, :root .container-2E0bff .footer-31IekZ {
  border-bottom-left-radius: 0 !important;
}
:root .editCircle-2uL_D3, :root .editCircle-ityklj {
  background: var(--background-primary);
}
:root .formFieldWrapper-2LV3S6 {
  border: none;
}
:root .sparkles-2XXTZO {
  z-index: unset;
}
:root .background-3xJH_4 {
  color: var(--background-secondary);
}
:root .tierInProgress-1vFUnw, :root .tierBody-1d3UiS, :root .tierHeaderLocked-30MLlO, :root .tierHeaderUnlocked-1OpOLf {
  background: var(--background-secondary);
}
:root .overflowRolesPopout-1Puiuq, :root .overflowRolesPopoutArrow-2R7g3K {
  background: var(--background-secondary);
  box-shadow: none;
}

:root .panels-3wFtMD {
  position: relative;
  z-index: unset;
}
:root .panels-3wFtMD .activityPanel-9icbyU {
  position: absolute;
  bottom: 20px;
  right: 111px;
  padding: 0;
  border-radius: 8px;
}
:root .panels-3wFtMD .activityPanel-9icbyU .gameWrapper-2TFy7F {
  display: none;
}
:root .panels-3wFtMD .activityPanel-9icbyU .actions-zk2vB_ {
  margin: 0;
}
:root .panels-3wFtMD .activityPanel-9icbyU .actions-zk2vB_ .button-f2h6uQ {
  color: var(--main-color);
}
:root .panels-3wFtMD .activityPanel-9icbyU:hover {
  background-color: var(--background-modifier-selected);
}
:root .panels-3wFtMD > .container-YkUktl {
  padding: 10px 15px;
}
:root .panels-3wFtMD > .container-YkUktl .avatarWrapper-1B9FTW[aria-expanded=false] {
  position: fixed;
  left: 29px;
  bottom: 29px;
  z-index: 1;
}
:root .panels-3wFtMD > .container-YkUktl .avatarWrapper-1B9FTW[aria-expanded=false] + .nameTag-sc-gpq .subtext-2HDqJ7 {
  max-width: 76px;
}
:root .panels-3wFtMD > .container-YkUktl .title-3XlmeX {
  font-weight: 500;
}
:root .panels-3wFtMD > .container-YkUktl .button-12Fmur {
  color: #888;
}
:root .panels-3wFtMD > .container-YkUktl .button-12Fmur[aria-checked=false].enabled-9OeuTA {
  color: var(--main-color);
}
:root .noChat-2UYgeE.wrapper-1gVUIN {
  background: #000;
  margin: 0;
  border-radius: 0;
  animation: unset;
}
:root .noChat-2UYgeE.wrapper-1gVUIN .headerWrapper-1ULEPv .container-ZMc96U {
  width: unset;
}
:root .noChat-2UYgeE.wrapper-1gVUIN .border-2Vy6FN.speaking-7QZEkv {
  box-shadow: inset 0 0 0 2.5px #43b581, inset 0 0 0 4.5px var(--background-secondary);
}
:root .noChat-2UYgeE.wrapper-1gVUIN .wrapper-3t3Yqv .button-f2h6uQ {
  border-radius: 50%;
}
:root .noChat-2UYgeE.wrapper-1gVUIN .colorable-3rVGna.primaryDark-2UJt1G, :root .noChat-2UYgeE.wrapper-1gVUIN .participantsButton-1WBdFP, :root .noChat-2UYgeE.wrapper-1gVUIN .participantsButton-1WBdFP:hover {
  background: var(--background-secondary);
}
:root .noChat-2UYgeE.wrapper-1gVUIN .css-1k9nrkn {
  background: transparent;
}

:root .searchBar-3TnChZ {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  background: linear-gradient(180deg, var(--background-secondary), transparent);
  box-shadow: none;
}
:root .searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background: var(--background-primary);
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
}
:root .input-3r5zZY {
  background: var(--background-primary);
}
:root .privateChannels-oVe7HL > .scroller-WSmht3 {
  padding-top: 48px;
  background: transparent;
}
:root .privateChannels-oVe7HL > .scroller-WSmht3::-webkit-scrollbar {
  display: none;
}
:root .channel-1Shao0 {
  margin: 0;
  max-width: unset;
  border-radius: 0;
}
:root .channel-1Shao0 .layout-1LjVue {
  padding: 0 22px;
  width: calc(100% - 22px);
  border-radius: 0;
}
:root .container-2cd8Mz {
  background: var(--background-primary);
}
:root .container-2cd8Mz .actionButton-3-B2x- {
  background: transparent;
}
:root .container-2cd8Mz .actionButton-3-B2x-:hover {
  background: var(--background-primary);
}
:root .container-2cd8Mz .peopleColumn-1wMU14 ::-webkit-scrollbar {
  display: none;
}
:root .container-2cd8Mz .tabBody-2dgbAs::before, :root .container-2cd8Mz .libraryHeader-2loraV::before {
  content: none;
}
:root .container-2cd8Mz .header-11eigE, :root .container-2cd8Mz .header-uVCAlo, :root .container-2cd8Mz .header-JHwfVI {
  display: none;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN {
  background: transparent;
  margin: 3px 0 10px 0;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU {
  background: var(--background-secondary);
  border-radius: 15px 0 0 15px;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq {
  border: none;
  padding: 16px 0 !important;
  margin: 0;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .header-Imy05m {
  text-align: center;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .emptyCard-KDifrB {
  margin: 16px;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .outer-2JOHae {
  background: transparent;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .wrapper-2RrXDg {
  background: var(--background-secondary);
  margin: 16px;
  border-radius: 10px;
  border: none;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .wrapper-2RrXDg .body-16rSsp > :nth-last-child(3) {
  border-radius: 8px 8px 0 0;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .wrapper-2RrXDg .body-16rSsp .separator-2OaeRP {
  display: none;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq .wrapper-2RrXDg .body-16rSsp > :nth-child(3) {
  border-radius: 0 0 8px 8px;
}
:root .container-2cd8Mz .nowPlayingColumn-1eCBCN .container-1oAagU .scroller-hE2gWq::-webkit-scrollbar {
  display: none;
}
:root .stageSection-3mAD8V .container-24CyRY {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px !important;
}
:root .stageSection-3mAD8V .container-24CyRY .container-2rNpDV {
  width: 100%;
  max-width: unset;
  height: 100%;
  margin: 0;
}
:root .stageSection-3mAD8V .container-24CyRY .container-S9SaVf {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  max-width: unset;
}
:root .stageSection-3mAD8V .container-24CyRY .container-S9SaVf:hover {
  background-color: var(--background-secondary);
}
:root .nowPlayingSidebar-2OFn0o, :root .headerContainer-1Wluzl, :root .container-1WCE6w {
  display: none;
}
:root .akaBadge-3i7V3p {
  background: var(--main-color);
  color: #fff;
}
:root .wrapper-1gVUIN:not(.video-3n15R6) {
  background: var(--background-secondary);
  margin: 15px;
  border-radius: 10px;
  animation: callzoom 2s ease;
}
:root .wrapper-1gVUIN:not(.video-3n15R6) .tile-2TcwiO {
  background: var(--background-primary);
}
:root .wrapper-1gVUIN:not(.video-3n15R6) .tile-2TcwiO .button-3Vyz67, :root .wrapper-1gVUIN:not(.video-3n15R6) .tile-2TcwiO .buttonColor-28DXIe {
  background-color: var(--main-color);
}
:root .wrapper-1gVUIN:not(.video-3n15R6) .videoWrapper-3rtb_V {
  background: var(--background-primary);
}
:root .wrapper-1gVUIN:not(.video-3n15R6) .border-2BJQjd.speaking-3RWJBr {
  box-shadow: inset 0 0 0 2.5px #43b581, inset 0 0 0 6px var(--background-secondary);
}
:root .wrapper-1gVUIN:not(.video-3n15R6) .colorable-3rVGna.primaryDark-2UJt1G, :root .wrapper-1gVUIN:not(.video-3n15R6) .leftTrayIcon-3kMl25 {
  background: var(--background-primary);
}
:root .quickSelectPopout-2F0PXw {
  background: var(--background-primary);
}
:root .applicationStore-2nk7Lo .container-ZMc96U {
  width: calc(100% - 240px);
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, var(--background-primary), transparent);
  z-index: 1;
}

body {
  background: transparent;
}

.withFrame-2dL45i {
  background: var(--background-tertiary);
  padding: 8px 16px;
  height: 24px;
  margin-top: unset;
  position: relative;
  left: 90px;
  width: calc(100% - 122px);
  z-index: 1;
  pointer-events: none;
}
.withFrame-2dL45i .wordmark-2u86JB {
  top: unset;
  left: 16px;
  color: transparent;
}
.withFrame-2dL45i .winButton-3UMjdg {
  color: var(--textcolor);
  top: -8px;
  right: -16px;
  height: 40px;
  width: 56px;
}
.withFrame-2dL45i .winButtonClose-3Q8ZH5 + .winButtonMinMax-3RsPUg::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 18px;
  width: 18px;
  height: 18px;
  background: url("https://cdn.discordapp.com/attachments/539180316447997974/713920529622630411/aaaaaaaaa.svg") no-repeat;
  background-size: contain;
  opacity: 0;
}

.theme-light .winButtonClose-3Q8ZH5 + .winButtonMinMax-3RsPUg::before {
  background-image: url("https://cdn.discordapp.com/attachments/539180316447997974/713920227582279810/aaaaaaaaa.svg");
}

body.maximized .winButtonClose-3Q8ZH5 + .winButtonMinMax-3RsPUg svg {
  opacity: 0;
}
body.maximized .winButtonClose-3Q8ZH5 + .winButtonMinMax-3RsPUg::before {
  opacity: 1;
}

.platform-win .chat-2ZfjoI .wrapper-1gVUIN:not(.minimum-fXpVNc) .search-39IXmY {
  top: 50px;
}
.platform-win .appMount-2yBXZl .app-3xd6d0 .scroller-3X7KbA {
  padding-top: 20px;
}
.platform-win .appMount-2yBXZl .app-3xd6d0 .content-1SgpWY::before {
  border-radius: 8px 0 0;
}
.platform-win .layers-OrUESM, .platform-win .layers-1YQhyW, .platform-win .layers-OrUESM > .layer-86YKbF, .platform-win .container-1eFtFS {
  overflow: visible;
}
.platform-win .recentMentionsPopout-2bI1ZN, .platform-win .root-2zfUH6 {
  top: 40px;
}

html:not(.platform-linux) body:not(.maximized).transparent .appMount-2yBXZl {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 var(--background-tertiary);
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transform: translateZ(0);
}

.platform-osx .typeMacOS-3V4xXE {
  width: 90px;
}
.platform-osx .typeMacOS-3V4xXE .macButtons-eIdy0e {
  width: 90px;
  padding: 10px 20px 10px 20px;
}
.platform-osx .unreadMentionsIndicatorTop-2bTgUU {
  top: 20px;
}
.platform-osx .unreadMentionsIndicatorTop-2bTgUU .mention-3XBnnZ {
  background: transparent;
}
.platform-osx .guilds-2JjMmN {
  margin: 0;
}
.platform-osx .guilds-2JjMmN .scroller-3X7KbA {
  padding-top: 40px;
}
.platform-osx .guilds-2JjMmN::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 32px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, var(--background-tertiary), transparent);
}
.platform-osx .avatarWrapper-1B9FTW[aria-expanded=true] {
  margin-top: 35px;
}
.platform-osx .avatarWrapper-1B9FTW[aria-expanded=true] + .nameTag-sc-gpq {
  margin-top: 108px !important;
}
.platform-osx #status-picker {
  margin-top: -20px;
  padding-top: 182px !important;
}

:root *::-webkit-scrollbar {
  width: 8px;
}
:root *::-webkit-scrollbar-thumb {
  background: var(--background-secondary);
  border-radius: 20px;
}
:root *::-webkit-scrollbar-track-piece {
  display: none;
}
:root .info-1sUqUG .size12-oc4dx4:last-child::after {
  content: "\a Couve v1 Revision " var(--revision);
  text-transform: none;
  white-space: pre;
}
:root .categoryItem-Kc_HK_ {
  margin: 3px 8px;
}
:root .categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
  background: var(--epicshadow1);
}
:root .pageWrapper-2PwDoS {
  background: var(--background-primary);
}
:root .pageWrapper-2PwDoS .search-25t1e9 .searchBox-31Zv9h {
  background: var(--background-secondary);
}
:root .pageWrapper-2PwDoS .search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL {
  margin-left: 8px;
}
:root .pageWrapper-2PwDoS .card-2TuZPZ, :root .pageWrapper-2PwDoS .iconMask-2fMR98 {
  background: var(--card);
}
:root .pageWrapper-2PwDoS .card-2TuZPZ:hover, :root .pageWrapper-2PwDoS .card-2TuZPZ:hover .iconMask-2fMR98, :root .pageWrapper-2PwDoS .iconMask-2fMR98:hover, :root .pageWrapper-2PwDoS .iconMask-2fMR98:hover .iconMask-2fMR98 {
  background: var(--background-secondary);
}
:root .root-2zfUH6 {
  top: 40px;
  left: 330px;
  contain: unset;
}
:root .root-2zfUH6 .perksModal-fSYqOq {
  background-color: var(--background-primary);
}
:root .root-2zfUH6 .perksModal-fSYqOq .ctaBar-2UsjF2 {
  background: var(--background-secondary);
  border-radius: 10px;
}
:root .root-2zfUH6 .perksModal-fSYqOq .progressBar-20NUv9 {
  z-index: 1;
}
:root .root-2zfUH6 .perksModal-fSYqOq .progressBar-20NUv9 .bar-1g-wqp {
  border-radius: 0;
}
:root .root-2zfUH6 .perksModal-fSYqOq .progressBar-20NUv9 .tierMarkerBackground-G8FoN4 {
  z-index: -10;
}
:root .root-2zfUH6 .perksModal-fSYqOq .progressBar-20NUv9 .tierMarkerBackground-G8FoN4, :root .root-2zfUH6 .perksModal-fSYqOq .progressBar-20NUv9 .barBackground-unEPDT {
  background: var(--background-secondary-alt-alt);
}
:root .root-2zfUH6 .perksModal-fSYqOq .progressBar-20NUv9 .tierMarkerInProgress-2Tdxjz {
  background: var(--background-primary) !important;
}
:root .root-2zfUH6 .perksModal-fSYqOq .carouselContainerVisible-1JVIpW {
  left: -15%;
}
:root .root-2zfUH6 .perksModal-fSYqOq .carouselContainerVisible-1JVIpW .tierHeaderUnlocked-1n-OTI {
  background: #b377f3;
}
:root .root-2zfUH6 .perksModal-fSYqOq .carouselContainerVisible-1JVIpW .tierHeaderUnlocked-1n-OTI .tierUnlocked-25K6Kv {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
:root .root-2zfUH6 .perksModal-fSYqOq .carouselContainerVisible-1JVIpW .tierHeaderLocked-1s2JJz {
  background: var(--background-secondary-alt-alt);
}
:root .root-2zfUH6 .perksModal-fSYqOq .carouselContainerVisible-1JVIpW .tierBody-16Chc9 {
  background: var(--background-secondary);
}
:root .root-2zfUH6 .perksModal-fSYqOq .perk-2WeBWW {
  background: var(--background-secondary);
}
:root .root-2zfUH6 .closeWrapper-9ScmSq {
  padding-top: 72px;
}
:root .root-2zfUH6 .closeWrapper-9ScmSq .closeButton-PCZcma:active {
  transform: none;
}
:root .root-2zfUH6 .closeWrapper-9ScmSq .closeButton-PCZcma::before {
  content: "";
  position: fixed;
  top: 0;
  left: -330px;
  width: 330px;
  height: 100%;
  z-index: 100;
}
:root .role-2TIOKu, :root .sidebar-3K3Z4C .list-1AJFv_ .item-3XjbnG, :root .container-2O1UgZ .item-1BCeuB, :root .roleRow-3HnunM {
  position: relative;
  overflow: hidden;
  height: unset;
  z-index: 1;
  border: none;
  padding: 5px;
  border-radius: 20px;
  margin-right: 4px;
  margin-left: 0;
}
:root .role-2TIOKu .roleCircle-1EgnFN::before, :root .sidebar-3K3Z4C .list-1AJFv_ .item-3XjbnG .roleDot-2a4Pv7::before,
:root .container-2O1UgZ .item-1BCeuB .popoutRoleDot-2_Nt5g::before, :root .roleRow-3HnunM .roleDot-2gCDg5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}
:root .container-2O1UgZ {
  border: none;
}
:root .container-2O1UgZ .item-1BCeuB {
  margin-right: 5px;
}
:root .sidebar-3K3Z4C {
  border: none;
}
:root .sidebar-3K3Z4C .list-1AJFv_ {
  padding-left: 16px;
}
:root .sidebar-3K3Z4C .list-1AJFv_ .item-3XjbnG {
  padding: 6px 10px;
  margin-bottom: 6px;
  border-radius: 25px;
}
:root #user-context-roles + .layer-2aCOJ3 .item-1OdjEX {
  flex-direction: row-reverse;
}
:root #user-context-roles + .layer-2aCOJ3 .item-1OdjEX .iconContainer-1-SsTR {
  margin: 0 8px 0 0;
}
:root #user-context-roles + .layer-2aCOJ3 .item-1OdjEX .roleRow-3HnunM {
  border-radius: 25px;
}
:root #user-context-roles + .layer-2aCOJ3 .item-1OdjEX .roleRow-3HnunM .roleDot-2gCDg5 {
  filter: none;
  margin-right: 4px;
}
:root .root-g14mjS, :root .modal-2RrUKJ {
  background: var(--background-primary);
  box-shadow: unset;
  border-radius: 10px;
}
:root .root-g14mjS form, :root .modal-2RrUKJ form {
  display: flex;
  flex-direction: column;
}
:root .root-g14mjS.small-23Atuv, :root .modal-2RrUKJ.small-23Atuv {
  min-height: unset;
}
:root .root-g14mjS .header-1zd7se, :root .modal-2RrUKJ .header-1zd7se {
  text-align: center;
}
:root .root-g14mjS .footer-31IekZ, :root .modal-2RrUKJ .footer-31IekZ {
  padding: 0;
  text-align: center;
  background: transparent;
  box-shadow: none;
  min-height: 45px;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
:root .root-g14mjS .footer-31IekZ button, :root .modal-2RrUKJ .footer-31IekZ button {
  flex-grow: 1;
  margin: 0;
  padding: 2px 16px;
  box-shadow: none !important;
  border-radius: 0;
  min-height: 45px;
}
:root .root-g14mjS .footer-31IekZ .lookLink-15mFoz, :root .modal-2RrUKJ .footer-31IekZ .lookLink-15mFoz {
  background: rgba(255, 255, 255, 0.0666666667);
}
:root .root-g14mjS .footer-31IekZ > *, :root .modal-2RrUKJ .footer-31IekZ > * {
  width: 100%;
  margin: 0;
}
:root .root-g14mjS .footer-31IekZ .cancelButton-kOgwem, :root .root-g14mjS .footer-31IekZ .cancel-1Ph_Z1, :root .modal-2RrUKJ .footer-31IekZ .cancelButton-kOgwem, :root .modal-2RrUKJ .footer-31IekZ .cancel-1Ph_Z1 {
  margin-right: 0;
}
:root .root-g14mjS .footer-31IekZ .minorContainer-1tix62, :root .modal-2RrUKJ .footer-31IekZ .minorContainer-1tix62 {
  display: none;
}
:root .root-g14mjS .qualitySettingsContainer-30AsSH, :root .modal-2RrUKJ .qualitySettingsContainer-30AsSH {
  border: none;
  padding: 0;
}
:root .root-g14mjS .card-1SdQ2-, :root .root-g14mjS .item-2OyinQ, :root .modal-2RrUKJ .card-1SdQ2-, :root .modal-2RrUKJ .item-2OyinQ {
  border: none;
  background: var(--background-secondary);
}
:root .root-g14mjS .changeButton-3QdaoH, :root .modal-2RrUKJ .changeButton-3QdaoH {
  border-radius: 3px;
}
:root .root-g14mjS .art-2OaYX0 + form > :nth-child(3) > :last-child, :root .root-g14mjS .changeButton-3QdaoH, :root .modal-2RrUKJ .art-2OaYX0 + form > :nth-child(3) > :last-child, :root .modal-2RrUKJ .changeButton-3QdaoH {
  background: rgba(255, 255, 255, 0.0666666667) !important;
}
:root .root-g14mjS .selectorButtonSelected-3Z0WNU, :root .modal-2RrUKJ .selectorButtonSelected-3Z0WNU {
  background: var(--main-color);
}
:root .root-g14mjS .primaryActions-F8pgS7, :root .modal-2RrUKJ .primaryActions-F8pgS7 {
  flex-grow: 1;
}
:root .root-g14mjS .primaryActions-F8pgS7 .shinyButton-2Q9MDB, :root .modal-2RrUKJ .primaryActions-F8pgS7 .shinyButton-2Q9MDB {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
:root .popout-1KHNAq {
  border: none;
}
:root .popout-1KHNAq .option-2eIyOn {
  background: var(--background-secondary);
}
:root .button-f2h6uQ {
  border-radius: 8px;
  transition: box-shadow 200ms;
}
:root .lookFilled-yCfaCM.colorBrand-I6CyqQ, :root .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  background: var(--main-color) !important;
}
:root .item-2idW98[style*=background-color] {
  background: var(--main-color) !important;
}
:root .checked-1pZh2h {
  border: none;
}
:root .checkbox-f1HnKB {
  border-radius: 50%;
}
:root .bar-1Bhnl9 {
  background: var(--background-secondary-alt-alt);
}
:root .bar-1Bhnl9 .barFill-2Bh7CX {
  background: var(--main-color);
}
:root .grabber-2GQyvM {
  border: none;
  background: transparent;
  box-shadow: none;
}
:root .cardPrimary-3qRT__, :root .cardPrimaryEditable-2mz_3i, :root .cardPrimaryOutline-1ofwVz {
  border: none;
  background: var(--background-secondary);
  border-radius: 10px;
}
:root .card-2ART2V::before {
  background-color: var(--background-secondary);
  border: none;
}
:root .default-1Tkeeg {
  background-color: var(--background-secondary);
}
:root .input-2g-os5 {
  border: none;
  border-radius: 8px;
  background: var(--background-secondary-alt-alt);
  transition: background 0.4s;
}
:root .input-2g-os5.focused-1AtTHC, :root .input-2g-os5 .input-2g-os5:focus {
  background: var(--background-secondary);
}
:root .select-1Ia3hD {
  border: none;
}
:root .popout-1KHNAq::-webkit-scrollbar {
  display: none;
}
:root .option-2eIyOn:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}
:root .css-6fzn47-control, :root .css-gvi9bl-control, :root .css-17e1tep-control {
  background: var(--background-secondary);
  border: none !important;
  cursor: pointer;
  border-radius: 7px;
}
:root .css-118dehu-control {
  border: none !important;
  border-radius: 7px;
}
:root .css-1ye7vu0::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary-alt-alt);
}
:root .css-3vaxre-menu {
  background: var(--background-secondary);
  border: none;
  border-radius: 7px;
  margin-top: -7px;
}
:root .css-3vaxre-menu .css-1ba14n5-option {
  background: var(--background-secondary-alt-alt);
}
:root .styleFixed-2_NfVL {
  background: var(--background-primary);
  box-shadow: unset;
}
:root .styleFlexible-x0_sIC, :root .submenu-1apzyU {
  background: var(--background-secondary-alt);
  box-shadow: unset;
}
:root .submenuPaddingContainer-_k62dJ {
  margin-left: -8px;
  margin-right: -8px;
}
:root .button-1zW0-r, :root .button-1zW0-r:hover {
  background: var(--background-primary);
}
:root .item-1OdjEX {
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
  transition: background 200ms;
}
:root .item-1OdjEX:hover, :root .item-1OdjEX.focused-3qFvc8, :root .item-1OdjEX:active:not(.hideInteraction-2jPGL_) {
  background-color: rgba(255, 255, 255, 0.05);
}
:root #status-picker {
  position: fixed;
  top: 0;
  left: 0;
  width: 330px;
  height: 100vh;
  max-height: unset;
  animation: sidebarStatusTransalteX 0.5s ease, fade 0.4s ease;
  border-radius: 0;
  padding: 168px 0 0;
  background: var(--background-tertiary);
}
:root #status-picker .scroller-1bVxF5 {
  overflow-y: auto !important;
  padding-left: 0;
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX {
  margin: 0;
  padding: 0 16px;
  min-height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  flex-direction: row;
  border-radius: 0;
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX.colorDefault-CDqZdO.focused-3qFvc8, :root #status-picker .scroller-1bVxF5 .item-1OdjEX.colorDefault-CDqZdO:hover:not(.hideInteraction-2jPGL_) {
  background: var(--epicshadow1);
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB {
  grid-template-areas: "icon status" "icon description";
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB .icon-Lz4Y-_ {
  width: 15px;
  height: 15px;
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB.customStatusItem-1qQzss {
  grid-template-areas: "status clear";
  gap: 10px;
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB.customStatusWithEmoji-Y8lMLP {
  grid-template-areas: "icon status clear";
  grid-template-columns: 26px 1fr 40px;
}
:root #status-picker .scroller-1bVxF5 .item-1OdjEX .statusItem-2hiCNB .clearStatusIcon-9SeHGZ {
  margin-left: 0;
  margin-right: 6px;
}
:root #status-picker .scroller-1bVxF5::-webkit-scrollbar-thumb {
  background: var(--epicshadow1);
}
:root.full-motion .animatorTop-3ltI52 {
  transition: unset !important;
}
:root .scroller-1bVxF5 {
  overflow-y: auto !important;
  padding-left: 0;
}
:root .scroller-1bVxF5::-webkit-scrollbar-thumb {
  background: var(--epicshadow1);
}
:root .avatarWrapper-1B9FTW .avatarSpeaking-33RRJU {
  border-radius: var(--avatar-radius);
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003 !important;
  width: 298px;
  height: 136px;
  display: flex;
  justify-content: center;
  animation: sidebarStatusTransalteX 0.6s ease, fade 0.85s ease;
  -webkit-animation: sidebarStatusTransalteX 0.6s ease, fade 0.85s ease;
  background: var(--background-secondary);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 15px 16px;
  padding: 12px;
  pointer-events: none;
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] .wrapper-1VLyxH {
  width: 64px !important;
  height: 64px !important;
  pointer-events: none;
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] ~ .nameTag-sc-gpq {
  position: fixed;
  z-index: 1003;
  top: 16px;
  left: 0;
  width: 298px;
  animation: sidebarStatusTransalteX 0.6s ease, fade 0.85s ease;
  -webkit-animation: sidebarStatusTransalteX 0.6s ease, fade 0.85s ease;
  margin: 88px 16px 0;
  text-align: center;
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] ~ .nameTag-sc-gpq .subtext-2HDqJ7 .default-rFvAvS, :root .avatarWrapper-1B9FTW[aria-expanded=true] ~ .nameTag-sc-gpq .subtext-2HDqJ7 .hovered-20u3oh {
  text-align: center;
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] ~ .nameTag-sc-gpq .usernameContainer-3PPkWq {
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] ~ .nameTag-sc-gpq .usernameContainer-3PPkWq .title-3XlmeX {
  font-size: inherit;
  font-weight: inherit;
}
:root .avatarWrapper-1B9FTW[aria-expanded=true] ~ .flex-2S1XBF {
  position: fixed;
  z-index: 1003;
  bottom: 0;
  left: 0;
  padding: 0 16px;
  width: 298px;
  height: 58px;
  align-items: center;
  justify-content: flex-end;
  animation: sidebarStatusTransalteX 0.5s ease, fade 0.75s ease;
  -webkit-animation: sidebarStatusTransalteX 0.5s ease, fade 0.75s ease;
}
:root .streamPreview-3qoMP4 {
  background: var(--background-secondary);
  width: 330px;
}
:root .streamPreview-3qoMP4 .previewContainer-21fFBz {
  background: var(--background-secondary);
  height: 200px;
}
:root .tooltip-14MtrL {
  background: var(--background-secondary-alt);
}
:root .tooltipPointer-3L49xb {
  border-top-color: var(--background-secondary-alt) !important;
}
:root .modal-atz_3z .title-3hptVQ {
  margin: 8px;
}
:root .modal-atz_3z .input-2g-os5 {
  border-radius: 0;
}
:root .modal-atz_3z > .footer-1hTRRZ > .content-3nJg0c {
  flex-direction: column-reverse;
}
:root .modal-atz_3z > .footer-1hTRRZ > .content-3nJg0c .footerText-2QLGHU {
  margin: 8px;
}
:root .modal-atz_3z .content-3nJg0c:before, :root .modal-atz_3z .title-3hptVQ {
  display: none;
}
:root .container-36u7Lw {
  background-color: var(--background-primary);
  border-radius: 8px;
  --background-primary: #252a3e;
  --background-secondary: #1e2337;
  --background-secondary-alt-alt: #1b1d31;
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
}
:root .container-36u7Lw .container-x8Y1ix {
  border: none;
  background-color: var(--background-modifier-hover);
}
:root .container-36u7Lw .button-f2h6uQ.lookBlank-21BCro {
  color: var(--header-secondary);
}
:root .contentWrapper-3oy4Xo {
  background: var(--background-primary);
}
:root .keyboardShortcutsModal-2CRmCm {
  background: var(--background-primary);
}
:root .keyboardShortcutsModal-2CRmCm .keybindShortcut-3zF1P9 span {
  background: var(--main-color);
}
:root .container-1ILvLB {
  border-radius: 16px;
}
:root .container-1ILvLB .header-2C89wJ {
  background-color: var(--background-tertiary);
}
:root .container-1ILvLB section {
  background-color: var(--background-primary);
}
:root .pictureInPictureWindow-3ms5Zy {
  z-index: 10000;
}
:root .pictureInPictureVideo-2puO2Q .container-ZMc96U {
  width: 100%;
}
:root .content-1jQy2l:before, :root .divider-q3P9HC, :root .separator-1So4YB {
  display: none;
}
:root .attachWrapper-3slhXI, :root .panel-2ZFCRb, :root .peopleListItem-u6dGxF,
:root .rowWrapper-N-4fji + .rowWrapper-N-4fji .row-1_1Nya, :root .header-2EadGG, :root .headerCell-3WoADH, :root .containerBackground-Ang24O {
  border: none;
}
:root .headerText-3g1XK9, :root .bodyTitle-Y0qMQz, :root .userInfoSectionHeader-CBvMDh,
:root .title-3hptVQ, :root .contentTitle-3CylD3, :root .header-3A13BX,
:root .calendarPicker-sDhzdi .react-datepicker__current-month,
:root :root .react-datepicker__day-name, :root .subSectionHeader-1bsAit {
  TEXT-TRANSFORM: UNSET;
}
:root .mask-1FEkla img {
  border-radius: 0 !important;
}
:root .mask-1FEkla foreignObject {
  mask: none !important;
  border-radius: var(--avatar-radius) !important;
}
:root .pointerEvents-9SZWKj {
  mask: none !important;
  rx: 30;
}
:root .pointerEvents-9SZWKj[mask="url(#svg-mask-status-typing)"] {
  rx: 6;
}
:root .pointerEvents-9SZWKj[mask="url(#svg-mask-status-online-mobile)"] {
  rx: 4;
}
:root .ready-3BZNWT {
  display: none;
}
:root .ready-3BZNWT + .text-2bYgPB {
  top: 82px;
}
:root .ready-3BZNWT + .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: url("https://i.imgur.com/2XrlegJ.png") center/80% no-repeat;
  animation: jump 1s infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-25px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
:root.full-motion .translate-PeW1wK {
  transform: translateZ(0);
  animation: zoom 0.3s ease, fade 0.3s ease;
}
@keyframes sidebarStatusTransalteX {
  from {
    transform: translateX(-15%);
  }
  to {
    transform: none;
  }
}
@keyframes sidebarStatusTransalteXReverse {
  from {
    transform: translateX(15%);
  }
  to {
    transform: none;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
@keyframes callzoom {
  from {
    background: var(--background-primary);
    margin: 0;
    border-radius: 0;
    opacity: 0;
  }
  to {
    background: var(--background-secondary);
    margin: 15px;
    border-radius: 10px;
    opacity: 1;
  }
}
@keyframes blink {
  79% {
    content: ">_<";
  }
  80% {
    content: "-_-";
  }
  90% {
    content: ">_<";
  }
  100% {
    content: "-_-";
  }
}

:root .powercord-toast {
  background: var(--background-secondary);
  min-width: 400px;
  max-width: 600px;
  border-radius: 7px;
  border: unset;
  transition: all 200ms;
  overflow: hidden;
  padding-left: 6px;
  box-shadow: 0 0 20px 0 #111;
}
:root .powercord-toast .header {
  background: transparent;
  box-shadow: unset;
}
:root .powercord-toast .icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background: currentColor;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
}
:root .powercord-toast[data-toast-type=info] .icon {
  color: #419e85;
}
:root .powercord-toast .contents .inner {
  background: var(--background-primary);
  border: none;
}
:root .powercord-toast .progress-24WBU3 {
  width: calc(100% - 6px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background: transparent !important;
  border-radius: 0;
}
:root .powercord-toast .progress-24WBU3 .progressBar-1T6LYX {
  opacity: 0.2;
  height: 100%;
}
:root .creationDate-CJwdKT,
:root .joinedAtDate-IawR02,
:root .lastMessageDate-ocEw13 {
  position: fixed !important;
}
:root .creationDate-CJwdKT {
  top: -70px;
}
:root .joinedAtDate-IawR02 {
  top: -50px;
}
:root .lastMessageDate-ocEw13 {
  top: -30px;
  margin-top: 0;
}
:root .root-8LYsGj .header-S26rhB .user-details-text {
  position: fixed;
  top: -70px;
  left: 0;
  right: unset;
  width: 800px;
}
:root .scale-3UGUBw.didRender-2SiRlm {
  transform: scale(1) !important;
}
:root #status-picker.menu-1QACrS #status-picker-custom-status .labelContainer-2vJzYL {
  padding: 0 16px;
}
:root #status-picker.menu-1QACrS #status-picker-custom-status + .layer-2aCOJ3 {
  top: 432px !important;
  left: 359px !important;
}
:root #status-picker.menu-1QACrS #status-picker-custom-status + .layer-2aCOJ3 .submenu-1apzyU {
  background: var(--background-tertiary);
  border-radius: 0 8px 8px 0;
}
:root .panels-3wFtMD > .container-YkUktl .button-12Fmur[aria-label="Hide Game Activity"]::before {
  position: fixed;
  content: "Switch Game Activity to status picker";
  display: flex;
  justify-content: center;
  align-items: center;
  left: 90px;
  bottom: 72px;
  width: 240px;
  height: 52px;
  background: var(--background-secondary);
}
:root .panels-3wFtMD > .container-YkUktl .button-12Fmur[aria-label="Hide Game Activity"] > div {
  display: none;
}
:root .panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button:not([role=switch]):first-child {
  color: var(--main-color);
}
:root .panels-3wFtMD > .container-YkUktl > .flex-2S1XBF > button:not([role=switch]):first-child + button:nth-child(2) {
  margin-left: 32px;
}
:root #MemberCount {
  top: 48px;
}
:root #MemberCount .membersGroup-2eiWxl {
  margin-top: 0;
  padding: 18px 8px 0 16px;
}
:root #MemberCount + .members-3WRCEx {
  margin-top: 0;
  padding-top: 70px;
}
:root .mask-1FEkla > svg > mask > :not(:first-child) {
  display: none;
}
:root .notice-2HEN-u[id] {
  margin: -30px 240px 0px 90px;
  border-radius: 8px 8px 0 0 !important;
}
:root .notice-2HEN-u[id] ~ .layers-OrUESM .sidebar-1tnWFu {
  border-radius: 0;
}
:root .ChannelDms-channelmembers-wrap {
  width: 240px;
}
:root .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
  margin-top: -48px;
  padding-top: 48px;
  max-height: calc(100% + 48px);
  background: var(--background-secondary);
  border-bottom-width: 0px;
}
:root .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header + div .membersWrap-3NUR2t {
  margin-top: 0;
  max-height: unset;
}
:root .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header + div .membersWrap-3NUR2t .members-3WRCEx {
  padding-top: 0;
}