:root { 

.membersWrap-3NUR2t {
    margin-top: -48px;
    max-height: calc(100% + 48px);

    .members-3WRCEx { 
        padding-top: 48px;

        // Members
        .member-2gU6Ar {
            margin: 0;

            .layout-1qmrhw {
                padding: 0 22px;
                width: calc(100% - 22px);
                border-radius: 0;
            }
        }
        
        &::-webkit-scrollbar { display: none;}
    }
}
    
// User popout
.loadingPopout-1feYe_ { background: var(--background-secondary);}

.userPopout-2j1gM4 {
    background: var(--background-secondary);
    box-shadow: unset !important; margin-right: 20px;
    border-radius: 8px;

        // Banner
        .banner-1YaD3N {
            position: absolute;
            width: 300px; height: 180px;
            border-radius: 8px 8px 0 0;
            -webkit-mask-image: linear-gradient(#000000c2, #000000c2);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 50% 100%, 0 calc(100% - 25px));

            &.bannerPremium-kkSkPv { background-color: transparent !important;}
        }

    // User infos
    .headerTop-3GPUSF {
        display: flex; flex-direction: column-reverse;
        text-align: center; padding-top: 110px;
        padding-bottom: 20px; 

        .headerTagWithNickname-1U8zZH, .setIdentityLink-hOFsMl { display: none;}
        .headerTagDiscriminatorNoNickname-dfcvHa { color: #dadada;}

        // Badges
        .profileBadges-2pItdR {
            position: static;
            justify-content: center;
            max-width: unset;

            & > * { margin: 0 3px;}
            &:empty { margin-bottom: 20px;}
        }

        .headerText-1-WmDq { margin-bottom: 8px;}
    }

    // Status + About Me
    .customStatus-3XAoF9, .aboutMeSection-PUghFQ { padding-top: 12px;}

    .divider-1wtgZ3 { display: none;}
    
    // Body
    .body-2wLx-E {

        // Activities
        .activity-1gTu-L {
    
            // Button
            .button-f2h6uQ { background-color: var(--main-color);}
    
            // Spotify icon
            .spotifyIcon-2J9kSv { display: none;}
        }
        .bodyInnerWrapper-2bQs1k {
            padding-right: 16px;
            
            .note-Go5ZP2 { margin: 0;}
        } 

        &::-webkit-scrollbar { display: none;}
    }

    // Avatar
    .avatarWrapper-eenWra {
        top: 0; left: 50%;
        grid-area: avatar;
        margin: 15px 0 0 -50px;

        .avatar-2Vndt_ { background: none; border: none;}

        // View profile mask
        .avatarHint-k7pYop {
            top: 0; left: 0;
            border-radius: calc(var(--avatar-radius) * 2) !important;

            foreignObject {  
                mask: none !important;

                // Custom Avatar Hint
                .avatarHintInner-2HUAWj {
                    font-size: 0; text-transform: none;
                    
                    &::after {
                        white-space: normal; text-align: center;
                        content: var(--avatar-hint-text);
                        color: var(--avatar-hint-color);
                        font-size: var(--avatar-hint-size);
                        font-family: var(--avatar-hint-font);
                    }
                }
            }
        }
    }

    // Avatar mask
    .mask-1FEkla foreignObject { border-radius: calc(var(--avatar-radius) * 2) !important;}
}

// User modal
.root-8LYsGj {
    width: 800px;
    flex-direction: row;
    overflow: unset;
    position: relative;

    // Header
    .topSection-13QKHs {
        position: relative;
        background: var(--background-secondary);
        width: 40%; z-index: 1;
        border-radius: 10px 0 0 10px;

        // Banner
        .banner-1YaD3N {
            position: absolute;
            width: 100%; height: 100%;
            z-index: -1;
            opacity: 0.6; border-radius: 10px 0 0 10px;
            mask-image: linear-gradient(90deg, #000c, #0002); // vscode thing
            -webkit-mask-image: linear-gradient(90deg, #000c, #0002);
        }

        .header-S26rhB {
            position: static;

            // Avatar
            .avatar-3QF_VA {   
                position: relative;         
                top: 16px;
                border: none;
                background: none;
                width: 80px !important;
                height: 80px !important;
            }

            .headerTop-1PNKck {
                position: static;

                .badgeList-2aoHPw {
                    position: absolute;
                    top: 75px; left: 120px;
                }
            }
        }

        .nameTag-2Nlmsy {
            position: absolute;
            flex-direction: column;
            align-items: flex-start;
            top: 0; left: 100px;
            max-width: 200px;
            margin-top: 16px;
        }

        .relationshipButtons-3ByBpj {
            position: absolute;
            bottom: 20px; left: 18px;
            z-index: 1;
        }

        // Avatar mask
        .mask-1FEkla foreignObject { border-radius: calc(var(--avatar-radius) * 2.1) !important;}

        // Badges
        .profileBadges-9OJ14v { // when u have too many badges
            flex-wrap: wrap;
            flex-flow: row wrap;
        }

        // Custom Status
        .customStatusActivity-WKWGD- {
            position: fixed;
            bottom: 0; right: 0;
            width: 460px; padding: 10px;
            border-bottom-right-radius: 10px;
            backdrop-filter: blur(8px);

            &.activityProfile-1712BN {
                right: unset;
                bottom: -140px;
                left: 5px;
                width: 750px;
                padding: 20px;
            }
            
            .customStatus-2pgT4N { max-width: 130px;}

            // Player
            .assetsLargeImageActivityFeed-3zBude, .assetsLargeImageActivityFeedXbox-3gGXXV, .assetsLargeImageProfile-1TX9jP {
                width: 40px;
                height: 40px;
            }
        }

        .activityHeader-2shpl0 { display: none;}
    

        // Menu
        .tabBarContainer-sCZC4w {
            position: relative;
            top: 20px;
            border-bottom: unset;

            .tabBar-2hXqzU {
                flex-direction: column;

                .item-3XjbnG {
                    height: 40px;
                    border-bottom: unset;
                }
            }
        }
    }  

    // Body
    .body-1Ukv50 {
        background: var(--background-primary);
        width: 60%;
        min-height: 350px;
        border-radius: 0 10px 10px 0;

        // Connected account
        .connectedAccounts-1YaT2t {

            .connectedAccount-1xKpli { 
                border: none; border-radius: 8px;
                background-color: var(--background-secondary);
            }
        }
        
        // Powercord connected account
        .pc-connections .connectedAccounts-1YaT2t:empty::before { background-color: transparent;}

        // Mutuals
        .listScroller-entkMk {
            display: grid; grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(20, 0fr); gap: 10px; padding-left: 8px;
        
            .listRow-2nO1T6 {
                position: relative; z-index: 1;
                height: 44px; margin: 0; padding-left: 10px;
                border-radius: 8px; overflow: hidden;
                background-color: var(--background-secondary);

                .listAvatar-2bU5Uh {
                    position: absolute; 
                    right: 0; z-index: -1;
                    width: 62% !important; height: 250% !important; margin-right: 0;
                    border-radius: 0;
                    -webkit-mask-image: linear-gradient(-90deg, #0000008c, #00000000); 

                    foreignObject { width: 100%; height: 100%;}
                }
            }

            .empty-2zcusz {
                grid-column: 1/3; grid-row: 1/22;
                position: relative; z-index: 0; overflow: hidden;
                margin: 0; padding-left: 10px;
                border-radius: 8px;

                .emptyIconFriends-2LNxTX {
                    position: absolute; z-index: -1;
                    width: 80%; height: 80%; margin-left: -10px;
                    opacity: 0.2; background-size: 100%;
                }
            }

            .activityProfile-1712BN {
                grid-column: 1/3;
            }
        }
    }
}

// USRBG for BetterDiscord only
.userPopout-2j1gM4 .banner-1YaD3N,
.root-8LYsGj .banner-1YaD3N {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position, center) center;
    background-image: var(--user-background);
}

}